@page "/calculator"

<h1 class="mb-5">Calculator</h1>

<Display currentCalculation=@currentCalculation />
<Keypad updateCurrentCalculation=@updateCurrentCalculation />

@code {
    private List<string> currentCalculation = new List<string>();
    private List<string> operators = new List<string> { "+", "-", "x", "รท" };

    private void updateCurrentCalculation(IButton button) { 
        if (button.getDisplayText() == "." && currentCalculation.Contains("."))
        {
            return;
        }

        if (button.getDisplayText() == "+/-")
        {
            if (currentCalculation.Contains("-"))
            {
                currentCalculation.Remove("-");
            }
            else
            {
                currentCalculation.Insert(0, "-");
            }

            return;
        }

        if (operators.Contains(button.getDisplayText()))
        {
            if (currentCalculation.Count == 0)
            {
                currentCalculation.AddRange(new List<string> { "0", button.getDisplayText() });
            }
            else if (operators.Contains(currentCalculation[currentCalculation.Count - 1]))
            {
                ReplaceLastOperator(button);
            }
        }

        currentCalculation.Add(button.getDisplayText());
    }

    private void ReplaceLastOperator(IButton button)
    {
        currentCalculation.RemoveAt(currentCalculation.Count - 1);
        currentCalculation.Add(button.getDisplayText());
    }
}