@page "/calculator"

<h1 class="mb-5">Calculator</h1>

<Display currentCalculation=@currentCalculation />
<Keypad updateCurrentCalculation=@updateCurrentCalculation />

@code {
    private List<string> currentCalculation = new List<string>();
    private List<string> operators = new List<string> { "+", "-", "x", "รท" };

    private void updateCurrentCalculation(Button button)
    {
        if (button.DisplayText == "." && currentCalculation.Contains("."))
        {
            return;
        }

        if (button.DisplayText == "." && currentCalculation.Count() == 0)
        {
            currentCalculation.Add("0");
            currentCalculation.Add(button.DisplayText);
            return;
        }

        if (button.DisplayText == "+/-")
        {
            if (currentCalculation.Count == 0) { return; }
            else if (currentCalculation[0] == "-")
            {
                currentCalculation.RemoveAt(0);
            }
            else
            {
                currentCalculation.Insert(0, "-");
            }

            return;
        }

        if (operators.Contains(button.DisplayText))
        {
            if (currentCalculation.Count == 0)
            {
                currentCalculation.AddRange(new List<string> { "0", button.DisplayText });
            }
            else if (operators.Contains(currentCalculation[currentCalculation.Count - 1]))
            {
                ReplaceLastOperator(button);
            }
        }

        currentCalculation.Add(button.DisplayText);
    }

    private void ReplaceLastOperator(Button button)
    {
        currentCalculation.RemoveAt(currentCalculation.Count - 1);
        currentCalculation.Add(button.DisplayText);
    }
}