@page "/calculator"

<h1 class="mb-5">Calculator</h1>

<Display Calculation=@GetCalculation() Result=@GetResult() />
<Keypad Update=@Update />

@code {
    private List<string> temporaryCalculation = new List<string>();
    private List<string> currentCalculation = new List<string>();
    private List<List<string>> allCalculations = new List<List<string>>();
    private List<string> operators = new List<string> { "+", "-", "x", "รท" };

    private void Update(Button button)
    {
        var previousButtonWasEquals = currentCalculation.Count > 0 && currentCalculation[currentCalculation.Count - 1] == "=";
        if (previousButtonWasEquals)
        {
            allCalculations.Add(((string[])currentCalculation.ToArray().Clone()).ToList());
            if (button.DisplayText != "=")
            {
                currentCalculation = new List<string>();
                temporaryCalculation = new List<string>();
            }
        }

        updateCurrentCalculation(button);
    }

    private List<string> GetCalculation()
    {
        Console.WriteLine(string.Join("", currentCalculation));
        allCalculations.ForEach(c => System.Console.WriteLine(string.Join("", c)));

        if (allCalculations.Count == 0) { return currentCalculation; }
        if (currentCalculation.Count == 0) { return allCalculations.Last(); }
        return currentCalculation;
    }


    private string GetResult()
    {
        var calculation = currentCalculation.Count == 0 ? temporaryCalculation : currentCalculation;
        if (calculation.Count == 0)
        {
            return "0";
        }

        if (IsADecimal(calculation))
        {
            return string.Join("", calculation).Trim();
        }

        List<string> chunks = GetCalculationChunks(calculation);

        decimal runningTotal = 0;
        string activeOperator = null;
        for (int i = 0; i < chunks.Count; i++)
        {
            var isDecimal = Decimal.TryParse(chunks[i], out var chunk);

            if (isDecimal && activeOperator == null)
            {
                runningTotal = chunk;
            }
            else if (isDecimal && activeOperator != null)
            {
                switch (activeOperator)
                {
                    case "+":
                        runningTotal += chunk;
                        break;
                    case "-":
                        runningTotal -= chunk;
                        break;
                    case "x":
                        runningTotal *= chunk;
                        break;
                    case "รท":
                        runningTotal /= chunk;
                        break;
                }
            }
            else
            {
                activeOperator = chunks[i];
            }
        }

        return runningTotal.ToString();
    }

    private List<string> GetCalculationChunks(List<string> calculation)
    {
        StringBuilder activeChunk = new StringBuilder();
        List<string> chunks = new List<string>();

        for (int i = 0; i < calculation.Count; i++)
        {
            if (IsADecimal(new List<string> { calculation[i] }))
            {
                activeChunk.Append(calculation[i]);
            }
            else
            {
                chunks.Add(activeChunk.ToString());
                activeChunk.Clear();
                chunks.Add(calculation[i]);
            }
        }

        return chunks;
    }

    private void updateCurrentCalculation(Button button)
    {
        if (button.DisplayText == ".")
        {
            HandleDecimal();
            return;
        }

        if (button.DisplayText == "+/-")
        {
            HandleSignChange();
            return;
        }

        if (button.DisplayText == "=")
        {
            HandleEquals();
            Promote();
            return;
        }

        if (operators.Contains(button.DisplayText))
        {
            if (temporaryCalculation.Count == 0)
            {
                temporaryCalculation.AddRange(new List<string> { "0", button.DisplayText });
                return;
            }
            else if (operators.Contains(temporaryCalculation[temporaryCalculation.Count - 1]))
            {
                ReplaceLastOperator(button.DisplayText);
            }

            Promote();

        }

        HandleNumber(button.DisplayText);
    }

    private void Promote()
    {
        currentCalculation = ((string[])temporaryCalculation.ToArray().Clone()).ToList();
    }

    private void HandleNumber(string displayText)
    {
        if (temporaryCalculation.Count == 0)
        {
            temporaryCalculation.Add(displayText);
            return;
        }

        if (temporaryCalculation[temporaryCalculation.Count - 1] == "=")
        {
            return;
        }

        temporaryCalculation.Add(displayText);
        return;
    }

    private void HandleEquals()
    {
        if (temporaryCalculation.Count == 0)
        {
            temporaryCalculation.AddRange(new List<string> { "0", "=" });
            return;
        }
        else if (temporaryCalculation[temporaryCalculation.Count - 1] == "=")
        {
            temporaryCalculation = GetResult().Split().ToList();
            temporaryCalculation.Add("=");
            return;
        }

        temporaryCalculation.Add("=");
        return;
    }

    private void HandleDecimal()
    {
        if (temporaryCalculation.Contains("."))
        {
            return;
        }

        if (temporaryCalculation.Count() == 0)
        {
            temporaryCalculation.AddRange(new[] { "0", "." });
            return;
        }

        temporaryCalculation.Add(".");
        return;
    }

    private void HandleSignChange()
    {
        if (temporaryCalculation.Count == 0) { return; }

        if (temporaryCalculation[0] == "-")
        {
            temporaryCalculation.RemoveAt(0);
            return;
        }

        temporaryCalculation.Insert(0, "-");
        return;
    }

    private void ReplaceLastOperator(string displayText)
    {
        temporaryCalculation.RemoveAt(temporaryCalculation.Count - 1);
        temporaryCalculation.Add(displayText);
    }

    private bool IsADecimal(List<string> calculation)
    {
        return calculation
        .Distinct()
        .Except(new List<string> { "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", ".", "-" })
        .Count() == 0;
    }
}